/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    background-color: cornsilk;
}

#mainHeading {
    font-family: Helvetica, Arial, sans-serif;
    color: red;
}

.funParagraph {
    font-style: italic;
    color: green;
}

h2 {
    font-family: Inter,Helvetica, Arial, sans-serif;
}

img {
    width: 25%;
    border-radius: 8px;
}

article {
    padding: 5px;
}